

.form {
    width: 700px;
    background-color: #000000;
    background: repeating-linear-gradient( 45deg, #1f2833, #1f2833 7px, #000000 7px, #000000 35px );
}

input {
    background-color: #66fcf1;
}

button {
    background-color: #1f2833;
    color: #CDECFF;
}